.session-block {
    border: rgb(66, 155, 243) solid 5px;
    border-radius: 1rem;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

.session-block__timer-data {
    font: 700 4rem/4rem "Courier New";
    display: inline-block;
}

.session-block__title {
    font-size: 2rem;
    margin: 0.5rem 0;
    color: rgb(148, 26, 26);
    text-transform: uppercase;
}

.session-block__title_break {
    color: rgb(70, 99, 70);;
}