.app {
  width: 45%;
}

.header {
  font-size: 1.75rem;
  color: #ffffff;
  text-align: center;
}

.header h1 {
  margin: 0.5rem 0;
}

@media screen and (max-width: 998px) {
  .app {
    width: 55%;
  }

  .header {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 678px) {
  .app {
    width: 65%;
  }
}

@media screen and (max-width: 578px) {
  .app {
    width: 80%;
  }
}